#####################################################################
#   BTT Smart Filament Sensor 2.0
#####################################################################

[filament_switch_sensor switch_sensor]
switch_pin: ^PG12
pause_on_runout: True #False                    #Это значение можно изменить на false для отладки ложных срабатываний, переведя датчик в «режим мониторинга». Принтер не будет останавливаться, но запустит приведенный ниже runout_gcode. 
runout_gcode:
  PAUSE                                         #[pause_resume] is required in printer.cfg
  M117 Filament switch runout
  _RUNOUT_INFO
insert_gcode:
  M117 Filament switch inserted

  [filament_motion_sensor SFS_T0]
detection_length: 15.00               # Это значение можно настроить в соответствии с желаемым уровнем чувствительности. 10 — рекомендуемое значение для предотвращения ложных срабатываний из-за падения потока.
extruder: extruder                    # The name of the extruder section this sensor is associated with.
switch_pin: ^PG13                     # The pin on which the switch is connected.
pause_on_runout: True                 # This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below. 
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    M117 Runout Detected!

[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=0 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=1 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor 
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=0 ; Put your filament sensor's name after SENSOR=

[gcode_macro _RUNOUT_INFO]
gcode:
  {% if 'filament_motion_sensor filament' in printer.configfile.settings %}
    {% set enable = printer['filament_motion_sensor filament'].enabled %}
    {% set detect = printer['filament_motion_sensor filament'].filament_detected %}
    {action_respond_info("RUNOUT Motion Sensor:
                          Enabled: %s
                          Detect Filament: %s" % (enable|lower,detect|lower))}
  {% endif %}